<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to the Online Booker</h1>

  <h2>Pick a date to book an appointment</h2>
  <div class="well">
    <div id="datetimepicker4" class="input-append">
      <input data-format="yyyy-MM-dd" type="text"></input>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>
  </div>
<script type="text/javascript">
  $(function() {
    $('#datetimepicker4').datetimepicker({
      pickTime: false
    });
  });
</script>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
  