<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to the Online Booker</h1>

  <h2>Pick a date to book an appointment</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
  