<footer class="footer">
  <small>
    <a href="#">Online Booker</a>
    for B*Well Sports Massage & Bodywork by Mary F. Jenn
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
